html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*{
margin: 0;
padding: 0;
}

body{
font-family: 'Montserrat', sans-serif;
color: white;
background: black;
}
#menu-title{
	position: absolute;
	top: 0em;
	right: 3.5em;
	margin-top: 0.6em;
}

#hamburger-start{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	cursor: pointer;
	width: 33px;
	height: 22px;
}
.top-menu{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  
}


.hamburger
{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #232323;
  
  transition: color 0.3s ease;
}

.hamburger:hover
{
  color: blue;
  background: grey;
}
#menu-contents{
	position: fixed;
	top: 0;
	right: -225px;
	z-index: 2;
	margin: 0;
	width: 225px;
	
}
#menu{
	list-style-position: inside;
	background: white;	  
}
#menu li {
  font-size: 1.1em;
  padding: 1.2em 1.6em 1.2em 1.6em;
}
#menu-welcome{
	text-decoration: none;
}
#menu-projects{
	text-decoration: none;
}
#menu-contact{
	text-decoration: none;
}


.title{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
#welcome-title1{
margin-top: 4em;
margin-bottom: 0.5em;	
}

#welcome-title2{
	font-style: italic;
	margin-bottom: 4em;
}

p{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-right: 20vw;
	margin-left: 20vw;
}
#message{
margin-top: 4em;
}


.invisible{
	display: none;
}

.popup-active-darken{
  filter: brightness(30%);
}
.visible-pop{
  min-height: 360px;
  width: 50vw;
  position: fixed;
  z-index: 2;
  top: 15vh;
  right: 25vw;
  border-radius: 20px;
  background: white;
  text-align: center;
}
@media screen and (max-width: 720px){
	.visible-pop{
 
  width: 70vw;
  top: 10vh;
  right: 13vw;
}

}

@media screen and (max-width: 400px){
	.visible-pop{

  width: 85vw;
  top: 8vh;
  right: 5vw;
}

}
#popup-header{
	background: blue;
	border-radius: 10px 10px 0px 0px;
	padding-top: 1.5em;
	padding-bottom: 1em;
	border-bottom: 2px solid grey;
}
#popup-title{
	font-weight: 800;
}
#close-popup{
	position: absolute;
	right: 0.5em;
	top: 0;
	background: none;
	border: none;
	font-size: 1.5em;
	cursor: pointer;
	color: white;
}
#popup-middle{
	color: black;
}
#popup-par1{
	text-align: center;
	color: black;
	margin: 0;
	padding: 2em 0 3em 0;
}
#link-cv{
	width: 150px;
	background: blue;
	padding: 1em 1.5em 1em 1.5em;
	color: white;
	border-radius: 20px;
	border: 2px solid grey;
	font-weight: bold;
	text-decoration: none;
}

#popup-footer{
	position: absolute;
	bottom: 0;
	background: blue;
	width: inherit;
	border-radius: 0px 0px 10px 10px;
	padding-top: 0.5em;
	padding-bottom: 1em;
	border-top: 2px solid grey;
}
#footer-grid{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 3vw;
	justify-content: center;
	
}
#popup-par2{
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.popup-footer-link{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#popup-button-div{
	position: relative;
	text-align: center;
	
}
#popup-button{
	font-weight: bold;
	font-size: 1em;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 16px;
	color: white;
	background: blue;
	cursor: pointer;
	margin-top: 4em;
	margin-bottom: 6em;
	padding: 0.8em 1.6em;
   
}

#arrow{
	display: inline-block;
 font-size: 0.8em;	
 padding: 0;
 margin: 0;

}
#popup-par3{
	display: inline-block;
padding: 0;
margin: 0 0.5em 0 0;
}

#project-title1{
margin-bottom: 1.5em;	
}
#project-title2{
	margin-top: 2em;
	margin-bottom: 2em;
}
#web-projects{
	display: grid;
	grid-template-columns: repeat(auto-fit,  253px);
	justify-content: center;
	grid-gap: 3em 1.5em;
}
.project-img{
	max-width: 250px;
	min-width: 200px;
	border-bottom: solid;
	border-color: white;
	border-width: 2px;
	margin-bottom: 1em;
}
.project-card{
	position: relative;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding-bottom: 1.5em;
	text-decoration: none;
}

#project-card-par1{
margin: 0;
padding: 0;
text-align: center;
color: white;
font-weight: bold;
}
#project-card-par2{
margin: 0;
padding: 0;
text-align: center;
color: white;
font-weight: bold;	
}

#project-card-par3{
margin: 0;
padding: 0;
text-align: center;
color: white;
font-weight: bold;	
}

#contact-title1{
	margin-top: 3.5em;
	margin-bottom: 1.5em;
}
#contact-title2{
	margin-top: 1.5em;
	margin-bottom: 2.5em;
}

.contacts-footer{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit,  250px);
	justify-content: center;
	grid-gap: 2em 1.5em;
	text-align: center;
	margin-bottom: 2em;
	
}
#mail-button{
cursor: pointer;
}

#link-mail{
text-decoration: none;
color: white;		
}

#skype-button{
cursor: pointer;	
}

#link-skype{
text-decoration: none;
color: white;		
}

#github-button{
cursor: pointer;	
}

#link-github{
text-decoration: none;
color: white;		
}

@media screen and (max-width: 910px){
	p{
		margin-top: 1em;
		margin-bottom: 1em;
		margin-right: 10vw;
		margin-left: 10vw;
	}
	#welcome-title1{
		margin-top: 2em;	
	}
	#welcome-title2{
	margin-bottom: 2em;
	}
	
	#project-title1{
		margin-top: 2em;	
	}
	#projecte-title2{
	margin-bottom: 2em;
	}
	#contact-title1{
		margin-top: 2em;	
	}
	#contact-title2{
	margin-bottom: 2em;
	}
   .contacts-footer{
	   text-align: left;
   }
   #mail-button{
	margin-left: 1em;	
	}

	#skype-button{
	margin-left: 1em;	
	}

	#github-button{
	margin-left: 1em;
	}
	
}
